<div>
  <ul class="navbar-nav left-nav ul-overflow">
    <li class="nav-item li-bottom">
      <a class="nav-link anchor-color" href="#" routerLink="./dashboard">
        <i class="fa fa-tachometer fa-2x fa-padding fa-width" aria-hidden="true"></i>Dashboard
      </a>
    </li>
    <li class="nav-item li-bottom">
      <a class="nav-link anchor-color" href="#">
        <i class="fa fa-user fa-2x fa-padding fa-width" aria-hidden="true"></i>User Profile
      </a>
    </li>
    <li class="nav-item li-bottom">
      <a class="nav-link anchor-color" href="#">
        <i class="fa fa-clipboard fa-2x fa-padding fa-width" aria-hidden="true"></i>Table List
      </a>
    </li>
    <li class="nav-item li-bottom">
      <a class="nav-link anchor-color" href="#">
        <i class="fa fa-bell fa-2x fa-padding fa-width" aria-hidden="true"></i>Notifications
      </a>
    </li>
  </ul>
</div>
